.example-viewport {
    height: 500px;
    width: 70%;
    min-width: 70%;
    border: 1px solid black;  
  }
  
  .example-item {
    min-height: 20px;
    margin-top: 10px; 
    margin-bottom: 10px; 
  }

  .item {
    max-width: 40%;
    min-height: 20;
    word-wrap: break-word;
  }

  table {
    table-layout: fixed ;
    width: 100% ;
  }
  td {
    width: 50% ;
  }
  ul {
    background-color: darkgray;
    word-wrap: break-word; 
    border-radius: 10px; 
    margin: 1px;
    padding: 10px; 
    width: fit-content; 
    max-width: 80%;
  }