<table style="width: 100%;">
    <tbody>
        <tr>
            <td style="width: 30%;">
                <div>
                    <app-rooms (ClickEvent)="getMessages($event)"></app-rooms>
                </div>
            </td>
            <td style="width: 70%;">
                <span style="text-align: center;"><strong>{{roomName}}</strong></span>
                <div>
                    <div class="form-page">
                        <div>
                            <cdk-virtual-scroll-viewport #scrollframe (scroll)="scrolled($event)" itemSize="50" class="example-viewport">
                                <table>
                                    <tbody>
                                        <tr #item *ngFor="let message of messages" class="example-item">
                                            <td style="text-align: -webkit-left; word-wrap: break-word;" *ngIf="message.sender !== userName">
                                                <span><strong>{{message.sender}}</strong></span>
                                                <ul>{{message.message}}</ul>
                                            </td>
                                            <td *ngIf="message.sender !== userName"></td>
                                            <td *ngIf="message.sender === userName"></td>
                                            <td style="text-align: -webkit-right;" *ngIf="message.sender === userName">
                                                <span><strong>{{message.sender}}</strong></span>
                                                <ul>{{message.message}}</ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </cdk-virtual-scroll-viewport>
                        </div>
                    </div>
                    <div *ngIf="!!roomId" style="width: 70%;">
                        <mat-form-field  style="width: 100%;">
                            <input matInput [formControl]="messageControl" [(ngModel)]="message"
                            (keydown.enter)="sendMessage()"
                            placeholder="Message"
                             required width="100%">
                          </mat-form-field>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>




